/* Tailwind base imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles (optional) */
:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

/* Enhance text rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
